<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="download your youtube video here!">
    <title>Downtube</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/icon.png">
  </head>
<body>
      <form action="/" method="post" >
        <input type="text" name="url" placeholder="youtube link">
        <div>
          <select class="form-select" name="format">
            <option value="audioonly">MP3</option>
            <option value="videoandaudio">MP4</option>
          </select>
          <select class="form-select" name="quality">
            <option value="highest">high quality</option>
            <option value="lowest">low quality</option>
          </select>
        </div>
        <button class="btn btn-secondary" type="submit">download</button>
      </form>
      <header>
         <h2>make by <a href="https://www.instagram.com/mondongo_103/">mondongo</a></h2>
        <h2>development</h2>
      </header>

</body> 
</html>
